$color-white: #fff !default;
$color-gray: #ccc !default;
$color-black: #000 !default;
$color-black-light: #2b2b2b !default;
$color-green: #00d084 !default;

$base-background-color: $color-black-light !default;
$base-color: $color-white !default;
$base-font-family: "Hiragino Kaku Gothic ProN", "Segoe UI", "BIZ UDPGothic", Meiryo, sans-serif !default;
$base-line-height: 1.6875 !default;
$base-timing-function: ease !default;
$base-border-radius: 4px;

$label-background-color: $color-white !default;
$label-checked-background-color: $color-green !default;
$label-color: $color-black-light !default;

$input-success-color: $color-white !default;
$input-success-border-color: $color-green !default;

$btn-background-color: $color-white !default;
$btn-color: $color-black-light !default;
$btn-success-border-color: $color-green !default;
$btn-success-background-color: $color-green !default;
$btn-success-color: $color-white !default;
$btn-disabled-color: $color-gray !default;
