$color-white: #fff !default;
$color-black: #000 !default;
$color-black-light: #353535 !default;
$color-green: #00d084 !default;

$base-color: $color-black-light !default;
$base-font-family: "Hiragino Kaku Gothic ProN", "Segoe UI", "BIZ UDPGothic", Meiryo, sans-serif !default;
$base-line-height: 1.6875 !default;
$base-timing-function: ease !default;
$base-border-radius: 4px;

$input-success-border-color: $color-green !default;

$btn-success-border-color: $color-green !default;
$btn-success-background-color: $color-green !default;
$btn-success-color: $color-white !default;
